<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047276146516-nfvai3g21ju084grnsnbluhvp6unquja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047276146516-nfvai3g21ju084grnsnbluhvp6unquja</string>
	<key>API_KEY</key>
	<string>AIzaSyAc1EkX7L2Od8gD6PveE8VTuTCd52IlIlA</string>
	<key>GCM_SENDER_ID</key>
	<string>1047276146516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeekands.firebaseFoodApp</string>
	<key>PROJECT_ID</key>
	<string>katalog-makanan-6b583</string>
	<key>STORAGE_BUCKET</key>
	<string>katalog-makanan-6b583.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047276146516:ios:5693f977127ca035b002c1</string>
</dict>
</plist>